# Configurações do Telegram
TELEGRAM_BOT_TOKEN=your_telegram_bot_token_here

# Configurações do Google Sheets
GOOGLE_PROJECT_ID=your_google_project_id
GOOGLE_CLIENT_EMAIL=your_service_account_email@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY_HERE\n-----END PRIVATE KEY-----\n"
GOOGLE_SHEET_ID=your_google_sheet_id

# Configurações do sistema
TIMEZONE=America/Sao_Paulo
SUMMARY_HOUR=18
OWNER_CHAT_ID=your_telegram_chat_id
